<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YouTube Scraper App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
</head>
<body>
    <div class="noise"></div>
      <div class="overlay"></div>
      <div class="terminal">
        <h1>Error <span class="errorcode">404</span></h1>
        <p class="output">You have entered wrong username of YouTube Channel. Try something like Telusko, krishnaik06 etc.</p>
        <p class="output">Please try to <a href="/">go back</a>.</p>
        <p class="output">Good luck.</p>
      </div>
</body>
</html>